.wrapper {
  display: grid;
  grid-template-rows: 8% 90% 2%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  max-height: 100%;
  line-height: 1.5;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 26px;
  color: antiquewhite;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-style: hidden;
  background-color: #80b1c2;
  margin: 0 auto;

}
table td {
  border: 2px solid antiquewhite;
  padding: 0 10px;

}

input {
  background-color: #80b1c2;
  color: antiquewhite;
  height: 30px;
  border: 0;
}

