/*CSS für Sitzreihenfolge*/
.seatorder {
  position: relative;
  width: 600px;
  height: 250px;
  border-radius: 125px;
  background: #2f353b;
}
.seatorder input{
  background: #80c2b2;
  text-align: center;
  width: 140px;
  padding: 10px 0;
  border-style: hidden;
  border-radius: 20px;
  position: absolute;
}
.player_a1 {
  bottom: 10px;
  left: 20px;
}
.player_b1 {
  bottom: 10px;
  left: 230px;
  margin: auto;
}
.player_a2 {
  bottom: 10px;
  right: 20px;
}
.player_b2 {
  top: 10px;
  right: 20px;
}
.player_a3 {
  top: 10px;
  left: 230px;
}
.player_b3 {
  top: 10px;
  left: 20px;
}
