<h1 mat-dialog-title>Login</h1>
<mat-dialog-content [formGroup]="form">
  <mat-form-field class="example-full-width">
    <label>
      <input matInput
             placeholder="User"
             formControlName="user" style="width: 90%">
    </label>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <label>
      <input matInput
             type="password"
             placeholder="Password"
             formControlName="password">
    </label>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Login</button>
</mat-dialog-actions>
