<!--<table *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]" >
  <tr>
    {{disziplinen[x]}}
    {{punkte[x]}}
  </tr>
</table>
<input #box (keyup.enter) = "scoreEnter(box.value)">
<p> {{score}}</p>
<input #secondBox (keyup.enter) = "disciplineEnter(secondBox.value)">
<p> {{diszi}}</p>
-->
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>6-er Jass</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
  <link rel="stylesheet" href="tafel.component.css">
</head>

<body>
<div class="wrapper">
  <!--<div class="header">
    <mat-toolbar>
      <a mat-button *ngIf="loggedin" (click)="logout()">{{ logininfo }}</a>
      <span class="fill-remaining-space"></span>
      <mat-icon appBackButton matTooltip="zurück" class="clickable">arrow_back</mat-icon>
      <a mat-button routerLink="tafel">Tafel</a>
      <a mat-button routerLink="cockpit">Cockpit</a>
      <button mat-icon-button matTooltip="Benutzer an- und abmelden" (click)="account()"><mat-icon >account_box</mat-icon></button>
      <button mat-icon-button matTooltip="Zurück zum Startbildschirm" routerLink="home"><mat-icon>home</mat-icon></button>
    </mat-toolbar>
  </div>-->
  <div class="leftside">
    <input class="eingabe" #box (keyup) = "scoreEnter(box.value)" placeholder="Pünggt">
    <div (click) = "editButtonClicked()">
      <p *ngIf = "correction_mode === false">
      Löschen</p>
      <p *ngIf = "correction_mode"> Neuen Wert eingeben</p>
    </div>
    <p>{{edit_mode}}</p>
    <p>{{punkte}}</p>
  </div>
  <div class="main">
    <div class="item1"></div>
    <div class="item2"></div>
    <div class="itema"></div>
    <div class="itemb" ></div>
    <div class="itemc"></div>
    <div class="itemd"></div>
    <div class="iteme"></div>
    <div class="itemf"></div>
    <div class="itemg"></div>
    <div class="itemh"></div>
    <div class="itemi"></div>
    <div class="itemj"></div>
    <div class="itemk"></div>
    <div class="iteml"> </div>
    <div class="itemm"></div>
    <div id="a2">{{team_names[0]}}</div>
    <div id="a3">{{team_names[1]}}</div>
    <div id="b1">Schuufle</div>
    <div id="b2"(click) = "disciplineEnter(0);box.value = '';" ><p *ngIf = "punkte[0]!== -1">{{punkte[0]}}</p></div>
    <div id="b3"(click) = "disciplineEnter(10);box.value = '';" ><p *ngIf = "punkte[10]!== -1">{{punkte[10]}}</p></div>
    <div id="c1">Chrüüz</div>
    <div id="c2"(click) = "disciplineEnter(1);box.value = ''" ><p *ngIf = "punkte[1]!== -1">{{punkte[1]}}</p></div>
    <div id="c3"(click) = "disciplineEnter(11);box.value = ''" ><p *ngIf = "punkte[11]!== -1">{{punkte[11]}}</p></div>
    <div id="d1">Egge</div>
    <div id="d2"(click) = "disciplineEnter(2);box.value = ''"><p *ngIf = "punkte[2]!== -1">{{punkte[2]}}</p></div>
    <div id="d3"(click) = "disciplineEnter(12);box.value = ''"><p *ngIf = "punkte[12]!== -1">{{punkte[12]}}</p></div>
    <div id="e1">Härz</div>
    <div id="e2"(click) = "disciplineEnter(3);box.value = ''" ><p *ngIf = "punkte[3]!== -1">{{punkte[3]}}</p></div>
    <div id="e3"(click) = "disciplineEnter(13);box.value = ''" ><p *ngIf = "punkte[13]!== -1">{{punkte[13]}}</p></div>
    <div id="f1">Misere</div>
    <div id="f2"(click) = "disciplineEnter(4);box.value = ''" ><p *ngIf = "punkte[4]!== -1">{{punkte[4]}}</p></div>
    <div id="f3"(click) = "disciplineEnter(14);box.value = ''" ><p *ngIf = "punkte[14]!== -1">{{punkte[14]}}</p></div>
    <div id="g1">Obe</div>
    <div id="g2"(click) = "disciplineEnter(5);box.value = ''" ><p *ngIf = "punkte[5]!== -1">{{punkte[5]}}</p></div>
    <div id="g3"(click) = "disciplineEnter(15);box.value = ''" ><p *ngIf = "punkte[15]!== -1">{{punkte[15]}}</p></div>
    <div id="h1">Unde</div>
    <div id="h2"(click) = "disciplineEnter(6);box.value = ''" ><p *ngIf = "punkte[6]!== -1">{{punkte[6]}}</p></div>
    <div id="h3"(click) = "disciplineEnter(16);box.value = ''" ><p *ngIf = "punkte[16]!== -1">{{punkte[16]}}</p></div>
    <div id="i1">2-2-2</div>
    <div id="i2"(click) = "disciplineEnter(7);box.value = ''" ><p *ngIf = "punkte[7]!== -1">{{punkte[7]}}</p></div>
    <div id="i3"(click) = "disciplineEnter(17);box.value = ''" ><p *ngIf = "punkte[17]!== -1">{{punkte[17]}}</p></div>
    <div id="j1">Slalom</div>
    <div id="j2"(click) = "disciplineEnter(8);box.value = ''" ><p *ngIf = "punkte[8]!== -1">{{punkte[8]}}</p></div>
    <div id="j3"(click) = "disciplineEnter(18);box.value = ''" ><p *ngIf = "punkte[18]!== -1">{{punkte[18]}}</p></div>
    <div id="k1">Frei</div>
    <div id="k2"(click) = "disciplineEnter(9);box.value = ''" ><p *ngIf = "punkte[9]!== -1">{{punkte[9]}}</p></div>
    <div id="k3"(click) = "disciplineEnter(19);box.value = ''" ><p *ngIf = "punkte[19]!== -1">{{punkte[19]}}</p></div>
    <div id="l1">TOTAL</div>
    <div id="l2" *ngIf = "summe [0]!== 0">{{summe[0]}}</div>
    <div id="l3" *ngIf = "summe [1]!== 0">{{summe[1]}}</div>
    <div id="m1">Mätch</div>
    <div id="m2" *ngIf = "match[0]!== 0">{{match[0]}}</div>
    <div id="m3" *ngIf = "match[1]!== 0">{{match[1]}}</div>
  </div>
  <div class="rightside">
    <div> Ausgeben darf: {{player_names[ausgeber]}}</div>
  </div>
  <div class="footer">Footer</div>
</div>
</body>

</html>
