

<div class="wrapper">

  <mat-toolbar>

    <a mat-button *ngIf="authService.getUser()" (click) = "authService.openLogOutDialog()">Abmelden</a>
    <span class="fill-remaining-space"></span>
    <a mat-button *ngIf="authService.getUser()" (click) = "router.navigateByUrl('/tafel')">Tafel</a>
    <a mat-button *ngIf="authService.getUser()" (click) = "router.navigateByUrl('/history')">Verlauf</a>
    <a mat-button *ngIf="authService.getUser()" (click) = "router.navigateByUrl('/settings')">Einstellungen</a>


  </mat-toolbar>

  <div class="leftside">
    <input class="button" #box (keyup) = "scoreEnter(box.value)" [placeholder]="game.correction_mode ? 'Neue Wärt igäh bitte': 'Pünggt'">
    <div [ngClass]="game.edit_mode || game.correction_mode ? 'pressed_button' : 'button'" (click) = "editButtonClicked()">
        Korrektur
    </div>

    <div class="button">Neus Spiil</div>
    <div class="button">Abbrechen</div>
    <div class="button" (click)="fill()">Fill for test</div>
  </div>
  <div class="main">
    <div class="item1"></div>
    <div class="item2"></div>
    <div class="itema"></div>
    <div class="itemb" ></div>
    <div class="itemc"></div>
    <div class="itemd"></div>
    <div class="iteme"></div>
    <div class="itemf"></div>
    <div class="itemg"></div>
    <div class="itemh"></div>
    <div class="itemi"></div>
    <div class="itemj"></div>
    <div class="itemk"></div>
    <div class="iteml"> </div>
    <div class="itemm"></div>
    <div id="a2">{{game.teamnames[0]}}</div>
    <div id="a3">{{game.teamnames[1]}}</div>
    <div id="b1">Schuufle</div>
    <div id="b2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[0]!== -1)||(game.correction_mode && game.gamestate[0]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[0]===-1 } " (click) = "disciplineEnter(0);box.value = '';" ><p *ngIf = "game.gamestate[0]!== -1">{{game.gamestate[0]}}</p></div>
    <div id="b3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[10]!== -1)||(game.correction_mode && game.gamestate[10]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[10]===-1 } " (click) = "disciplineEnter(10);box.value = '';" ><p *ngIf = "game.gamestate[10]!== -1">{{game.gamestate[10]}}</p></div>
    <div id="c1">Chrüüz</div>
    <div id="c2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[1]!== -1)||(game.correction_mode && game.gamestate[1]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[1]===-1 } " (click) = "disciplineEnter(1);box.value = ''" ><p *ngIf = "game.gamestate[1]!== -1">{{game.gamestate[1]}}</p></div>
    <div id="c3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[11]!== -1)||(game.correction_mode && game.gamestate[11]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[11]===-1 } " (click) = "disciplineEnter(11);box.value = ''" ><p *ngIf = "game.gamestate[11]!== -1">{{game.gamestate[11]}}</p></div>
    <div id="d1">Egge</div>
    <div id="d2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[2]!== -1)||(game.correction_mode && game.gamestate[2]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[2]===-1 } " (click) = "disciplineEnter(2);box.value = ''"><p *ngIf = "game.gamestate[2]!== -1">{{game.gamestate[2]}}</p></div>
    <div id="d3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[12]!== -1)||(game.correction_mode && game.gamestate[12]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[12]===-1 } " (click) = "disciplineEnter(12);box.value = ''"><p *ngIf = "game.gamestate[12]!== -1">{{game.gamestate[12]}}</p></div>
    <div id="e1">Härz</div>
    <div id="e2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[3]!== -1)||(game.correction_mode && game.gamestate[3]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[3]===-1 } " (click) = "disciplineEnter(3);box.value = ''" ><p *ngIf = "game.gamestate[3]!== -1">{{game.gamestate[3]}}</p></div>
    <div id="e3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[13]!== -1)||(game.correction_mode && game.gamestate[13]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[13]===-1 } " (click) = "disciplineEnter(13);box.value = ''" ><p *ngIf = "game.gamestate[13]!== -1">{{game.gamestate[13]}}</p></div>
    <div id="f1">Misere</div>
    <div id="f2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[4]!== -1)||(game.correction_mode && game.gamestate[4]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[4]===-1 } " (click) = "disciplineEnter(4);box.value = ''" ><p *ngIf = "game.gamestate[4]!== -1">{{game.gamestate[4]}}</p></div>
    <div id="f3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[14]!== -1)||(game.correction_mode && game.gamestate[14]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[14]===-1 } " (click) = "disciplineEnter(14);box.value = ''" ><p *ngIf = "game.gamestate[14]!== -1">{{game.gamestate[14]}}</p></div>
    <div id="g1">Obe</div>
    <div id="g2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[5]!== -1)||(game.correction_mode && game.gamestate[5]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[5]===-1 } " (click) = "disciplineEnter(5);box.value = ''" ><p *ngIf = "game.gamestate[5]!== -1">{{game.gamestate[5]}}</p></div>
    <div id="g3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[15]!== -1)||(game.correction_mode && game.gamestate[15]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[15]===-1 } " (click) = "disciplineEnter(15);box.value = ''" ><p *ngIf = "game.gamestate[15]!== -1">{{game.gamestate[15]}}</p></div>
    <div id="h1">Unde</div>
    <div id="h2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[6]!== -1)||(game.correction_mode && game.gamestate[6]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[6]===-1 } " (click) = "disciplineEnter(6);box.value = ''" ><p *ngIf = "game.gamestate[6]!== -1">{{game.gamestate[6]}}</p></div>
    <div id="h3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[16]!== -1)||(game.correction_mode && game.gamestate[16]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[16]===-1 } " (click) = "disciplineEnter(16);box.value = ''" ><p *ngIf = "game.gamestate[16]!== -1">{{game.gamestate[16]}}</p></div>
    <div id="i1">2-2-2</div>
    <div id="i2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[7]!== -1)||(game.correction_mode && game.gamestate[7]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[7]===-1 } " (click) = "disciplineEnter(7);box.value = ''" ><p *ngIf = "game.gamestate[7]!== -1">{{game.gamestate[7]}}</p></div>
    <div id="i3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[17]!== -1)||(game.correction_mode && game.gamestate[17]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[17]===-1 } " (click) = "disciplineEnter(17);box.value = ''" ><p *ngIf = "game.gamestate[17]!== -1">{{game.gamestate[17]}}</p></div>
    <div id="j1">Slalom</div>
    <div id="j2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[8]!== -1)||(game.correction_mode && game.gamestate[8]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[8]===-1 } " (click) = "disciplineEnter(8);box.value = ''" ><p *ngIf = "game.gamestate[8]!== -1">{{game.gamestate[8]}}</p></div>
    <div id="j3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[18]!== -1)||(game.correction_mode && game.gamestate[18]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[18]===-1 } " (click) = "disciplineEnter(18);box.value = ''" ><p *ngIf = "game.gamestate[18]!== -1">{{game.gamestate[18]}}</p></div>
    <div id="k1">Frei</div>
    <div id="k2" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[9]!== -1)||(game.correction_mode && game.gamestate[9]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[9]===-1 } " (click) = "disciplineEnter(9);box.value = ''" ><p *ngIf = "game.gamestate[9]!== -1">{{game.gamestate[9]}}</p></div>
    <div id="k3" [ngClass]="{'red_cell': (game.edit_mode && game.gamestate[19]!== -1)||(game.correction_mode && game.gamestate[19]===-1), 'green_cell' : punktzahl>-1 && game.gamestate[19]===-1 } " (click) = "disciplineEnter(19);box.value = ''" ><p *ngIf = "game.gamestate[19]!== -1">{{game.gamestate[19]}}</p></div>
    <div id="l1">TOTAL</div>
    <div id="l2" *ngIf = "summe [0]!== 0">{{summe[0]}}</div>
    <div id="l3" *ngIf = "summe [1]!== 0">{{summe[1]}}</div>
    <div id="m1">Differenz</div>
    <div id="m2" *ngIf = "summe[0]>summe[1]">{{summe[0]-summe[1]}}</div>
    <div id="m3" *ngIf = "summe[1]>summe[0]">{{summe[1]-summe[0]}}</div>
  </div>
  <div class="rightside">
    <div class="button"> Ausgeben darf:<br>{{game.playernames[game.ausgeber]}}</div>
    <div class="resultate">
    <table>
            <tr>
        <td colspan="3">Zwischenstand</td>
      </tr>
      <tr>
        <td> </td>
        <td>{{game.teamnames[0]}}</td>
        <td>{{game.teamnames[1]}}</td>
      </tr>
      <tr>
        <td>Turnier</td>
        <td *ngIf ="game.totalpoints[0]!== 0">{{game.totalpoints[0]}}</td>
        <td *ngIf ="game.totalpoints[0]=== 0"></td>
        <td *ngIf ="game.totalpoints[1]!== 0">{{game.totalpoints[1]}}</td>
        <td *ngIf ="game.totalpoints[1]=== 0"></td>
      </tr>
      <tr>
        <td colspan="3">Spiel</td>
      </tr>
      <tr>
        <td>Matchpunkte</td>
        <td *ngIf ="match_this_game[0]!== 0">{{match_this_game[0]}}</td>
        <td *ngIf ="match_this_game[0]=== 0"></td>
        <td *ngIf ="match_this_game[1]!== 0">{{match_this_game[1]}}</td>
        <td *ngIf ="match_this_game[1]=== 0"></td>
      </tr>
      <tr>
        <td>Sieg</td>
        <td *ngIf = "game.team_done[0] && game.team_done[1] && summe[0]>summe[1]">1</td>
        <td *ngIf = "!game.team_done[0] || !game.team_done[1] || summe[1]>= summe[0]"></td>
        <td *ngIf = "game.team_done[0] && game.team_done[1] && summe[1]>summe[0]">1</td>
        <td *ngIf = "!game.team_done[0] || !game.team_done[1] || summe[0]>= summe[1]"></td>
      </tr>
    </table>
    </div>
   </div>
  <div class="footer"></div>
</div>

