/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&amp;family=Patrick+Hand+SC&amp;family=Robotowght@300&display=swap');

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  background-color: #c2b280;
}

/*.mat-toolbar {
  justify-content: flex-end;
  max-height: 90%;
  padding: 0 16px;
  grid-area: header;
  background-color: #c2b280;
  margin-bottom: 10px;
  border-bottom-color: antiquewhite;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}*/

nav {
  grid-area: header;
  width: 100%;
  max-height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #a5a39d;
  margin-bottom: 10px;
  border-bottom-color: antiquewhite;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav ul {
  font-size: 20px;
  margin: 0 20px 0 0
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: antiquewhite;
  text-decoration: none;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul li:hover {
  background-color: rgba(47, 53, 59, 0.2);
  border-radius: 5px;
  transition: background-color 0.6s;
}

.pipe:hover {
  color: antiquewhite;
  padding: 0;
}

.aktiv {
  color: #2f353b;
}
