/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar {
  justify-content: flex-end;
  max-height: 90%;
  padding: 0 16px;
  grid-area: header;
  background-color: #c2b280;
  border-bottom-color: antiquewhite;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
