.wrapper {
  display: grid;
  grid-template-rows: 8% 90% 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "leftside rightside"
    "footer footer";
  height: 100vh;
  max-height: 100%;
  line-height: 1.5;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 26px;
  color: antiquewhite;
  text-align: center;
}

.rightside, .leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  background: #80c2b2;
  text-align: center;
  width: 140px;
  padding: 10px 0;
  border-style: hidden;
  border-radius: 20px;
  color: antiquewhite;
}

input::-webkit-input-placeholder {
  opacity: 0.6;
  color: antiquewhite;
}
input::-moz-placeholder {
  opacity: 0.6;
  color: antiquewhite;
}
input:-ms-input-placeholder {
  opacity: 0.6;
  color: antiquewhite;
}

input::placeholder {
  opacity: 0.6;
  color: antiquewhite;
}

.teamname input {
  margin: 0 20px;
}
.seatorder {
  position: relative;
  width: 80%;
  height: 200px;
  margin: auto;
  border-radius: 125px;
  background: #2f353b;
}
.seatorder input {
  background: #80c2b2;
  text-align: center;
  padding: 10px 0;
  border-style: hidden;
  border-radius: 20px;
  position: absolute;
}
.player_a1 {
  bottom: 10px;
  left: 20px;
}
.player_b1 {
  bottom: 10px;
  left: calc(50% - 70px);
  margin-bottom: 0; /*Fixing Edge Bug*/
}
.player_a2 {
  bottom: 10px;
  right: 20px;
}
.player_b2 {
  top: 10px;
  right: 20px;
}
.player_a3 {
  top: 10px;
  left: calc(50% - 70px);
}
.player_b3 {
  top: 10px;
  left: 20px;
}
.player_leeren {
  top: calc(50% - 20px);
  left: calc(50% - 70px);
  cursor: pointer;
  padding: 0 !important;
  background: #c28090 !important;
}

.point-setting input {
  width: 50px;
  padding: 0;
  border-radius: 10px;
}

.password {
  font-family: "Patrick Hand";
  width: 300px;
  background-color: #c2b280;
  border-bottom: 1px solid antiquewhite;
  border-radius: 0;
}

button {
  background: #80c2b2;
  border-radius: 20px;
  color: antiquewhite;
  margin: 20px 0;
  border: 0;
  cursor: pointer;
}
